{{ define "main" }}

<!--[if lt IE 8]>
  <p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
    experience.
  </p>
<![endif]-->

<main>
  <main>
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-6 col-lg-7 fullscreen-md d-flex justify-content-center align-items-center overlay gradient gradient-53 alpha-7 image-background cover" style="background-image:url(https://picsum.photos/1920/1200/?random&gravity=south)">
					<div class="content">
						<h2 class="display-4 display-md-3 color-1 mt-4 mt-md-0">Hi, I'm
							<span class="bold d-block">Ian Agustiawan</span>
						</h2>
						<p class="lead color-1 alpha-5">A Full-Stack Tech Innovation Enthusiast.</p>
            <hr class="mt-md-6 w-25">
            <p class="color-1">Mail me at ian (at) agustia (dot) name</p>
						<div class="d-flex flex-column">
							<p class="small bold color-1">External Links</p>
							<nav class="nav mb-4">
								<a class="btn btn-rounded btn-outline-2 brand-twitter mr-2" target="_blank" href="https://twitter.com/ianagustiawan">
									<i class="fab fa-twitter fa-2x"></i>
								</a>
								<a class="btn btn-rounded btn-outline-2 brand-linkedin mr-2" target="_blank" href="https://www.linkedin.com/in/ianagustiawan/">
									<i class="fab fa-linkedin-in fa-2x"></i>
								</a>
								<a class="btn btn-rounded bg-light mr-2" target="_blank" href="https://angel.co/u/ianagustiawan">
									<i class="fab fa-angellist fa-2x"></i>
								</a>
								<a class="btn btn-rounded bg-light mr-2" target="_blank" href="https://github.com/ianagustiawan">
									<i class="fab fa-github fa-2x"></i>
                </a>
								<a class="btn btn-rounded bg-light mr-2 d-none d-sm-block" target="_blank" href="https://calendly.com/agustia">
									<i class="far fa-calendar-alt fa-2x"></i>
                </a>
							</nav>	<nav class="nav mb-4">
								<a class="btn btn-link bg-light mr-2" target="_blank" href="https://blog.agustia.name">
									<span style="font-size:18px">Blog</span>
								</a>
								</a>
								<a class="btn btn-link bg-light" target="_blank" href="http://bit.ly/resume-iana">
									<span style="font-size:18px">Resume</span>
								</a>
							</nav>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-lg-4 mx-auto pt-sm-3 pt-5">
          <div class="container">
            <div class="section-heading text-center">
              <h3>My Services</h3>
            </div>
            <div class="row gap-y">
              <div class="col-md-6">
                <div class="shadow-box shadow-hover border-0 card">
                  <div class="card-body text-center">
                    <i class="w-50 pe pe-3x pe-7s-phone"></i>
                    <p class="mb-0">Web & App Development</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="shadow-box shadow-hover border-0 card">
                  <div class="card-body text-center">
                    <i class="w-50 pe pe-3x pe-7s-tools"></i>
                    <p class="mb-0">IT/Tech Consulting</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="shadow-box shadow-hover border-0 card">
                  <div class="card-body text-center">
                    <i class="w-50 pe pe-3x pe-7s-medal"></i>
                    <p class="mb-0">Product Prototyping</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="shadow-box shadow-hover border-0 card">
                  <div class="card-body text-center">
                    <i class="w-50 pe pe-3x pe-7s-star"></i>
                    <p class="mb-0">Idea Brainstorming</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="shadow-box shadow-hover border-0 card">
                  <div class="card-body text-center">
                    <i class="w-50 pe pe-3x pe-7s-paper-plane"></i>
                    <p class="mb-0">Product Management</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="shadow-box shadow-hover border-0 card">
                  <div class="card-body text-center">
                    <i class="w-50 pe pe-3x pe-7s-display1"></i>
                    <p class="mb-0">Strategic Planning</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
				</div>
			</div>
		</div>
	</main>
</main>

{{ end }}
